.background {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    background-color: blanchedalmond;
}

.col-lg-6 {
    font-weight: 800;
           
}
.text-body-emphasis {
    font-weight: 800;
}
.neymar {
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    position: center;
}
.editing {
    font-weight: 800;
    margin-left: 10rem;
}
.editing-gif {
    height: 400px;
    width: 500px;
    position: center;
    margin-left: 5rem;
}

@media (max-width: 600px) {
.editing-gif {
    height: 250px;
    width: 300px;
 }
}

.gaming {
    font-weight: 800;
    margin-left: 10rem;
}
    
.gaming-gif {
    height: 400px;
    width: 500px;
    position: center;
    margin-left: 5rem;
}

@media (max-width: 600px) {
    .gaming-gif {
        height: 250px;
        width: 300px;
    }
}

.parent {
    position: center;
}
.paragraph {
    margin-left: 10rem;
}